/*Variables*/

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-grey: #cacaca;
  --basic-middle-grey: #BDBBBC;
  --basic-light-grey: #f2f2f2;
  --basic-extra-light--grey: #ebebeb;
  --basic-extra-grey: #0c0609;
  --basic-dark-grey: #a9a9a9;
  --basic-extra-dark-grey: #666666;
  --basic-blue: #81b3d2;
  --basic-darker-blue: #669ec0;
  --basic-darkest-blue: #5496bd;
  --basic-neutral: #eeeeee;
  --basic-brown: #766357;
  --basic-darker-brown: #604e43;
  --basic-darkest-brown: #503e33;

  --special-extra-dark: #231f20;

  --opacity-white: rgba(255, 255, 255, 0.9);
  --opacity-white-button: rgba(255, 255, 255, 0.3);
  --opacity-black: rgba(0, 0, 0, 0.3);
}

/*Global*/
body {
  min-width: 1280px;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
   background-color: var(--basic-light-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  visibility: hidden;
  margin: 0;
}

.page-wrapper {
  width: 1200px;
  background-color: var(--basic-white);
  margin: 0 auto;
  box-shadow: 5px 5px 8px var(--opacity-black), -5px 5px 8px var(--opacity-black);

}

/* Main navigation */
a.main-header-logo img {
  height: 70px;
}


.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*Main background image*/

.main-wrap-background-img {
  background-image: url(../img/welcome.png), url(../img/background_photo.png);
  height: 509px;
  width: 1200px;
  background-repeat: no-repeat;
  /*background-position: 0 56px;*/
  background-position: center;
}

/* User navigation */
.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

/* Features */

.features {
  text-align: center;
}

.feature-main {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.feature-main-text {
  font-size: 14px;
  line-height: 26px;
}

p.feature-main,
p.feature-main-text {
  margin: 0;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blue-bg {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.grey-bg {
  background-color: var(--basic-neutral);
}

.features-list dl {
  background-color: white;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.features-list-addition dt,
.features-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.features-item p,
.features-list-addition dd {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.add-group1 {
  background-image: url("/../img/icon-1.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
 /*background-color: rgba(0,0,0,0.5);*/
}

.image-wrap {
  background-color: var(--basic-darkest-blue);
}

/*search Hotels*/
.search-hotels-wrap {

}

.search-hotels p {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.search-hotels-title {
  font-weight: bold;
}

p.search-hotels-info {
  font-size: 14px;
  line-height: 24px;
}

.popup p {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

/*Форма поиска гостиницы*/
.popup {
  height: 395px;
  width: 568px;
  background-color: var(--basic-white);
  border: solid 1px #231f20; /*Для визуализации размеров*/
}

.form-search-hotels {

}


/*Buttons*/

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button-brown {
  background-color: var(--basic-brown);
  width: 568px;
  height: 86px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--basic-darker-brown);
}

.button-brown:active {
  background-color: var(--basic-darkest-brown);
  color: var(--opacity-white-button);
}

.button-blue {
  background-color: var(--basic-blue);
  width: 458px;
  height: 58px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
}

.button-blue:hover,
.button-blue:focus {
  background-color: var(--basic-darker-blue);
}

.button-blue:active {
  background-color: var(--basic-darkest-blue);
  color: var(--opacity-white-button);
}
.button-blue-hotel {
  width: 110px;
  height: 27px;
}

.button-brown-hotel {
  width: 142px;
  height: 27px;
}

/*Hotels filter search*/

.filter {
  /*color: var(--basic-white); для видимости*/
  line-height: 21px;
}

.filter-form {

}

.filter-infrastructure,
.filter-houses,
.filter-price {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
}


.wrap-image-checkbox {
  background-image: url("../img/background-filter.jpg");
  width: 1200px;
  height: 217px;
  background-repeat: no-repeat;
  background-position: center;
}

/*Search results*/

.search-amount {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.sorting-list li,
.sorting-rating li {
  list-style: none;
}

.sorting-text,
.sorting-list li {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.sorting-list,
.sorting-rating {
  margin: 0;
  padding: 0;
}

.sorting-list li:first-child {
  color: var(--basic-blue);
}

.sorting-list li:nth-child(n+2) {
  color: var(--opacity-black);
}

/*List hotels*/

.hotels-list li {
  list-style: none;
}

.hotels-list {
  padding: 0;
  margin: 0;
}

.hotel-title {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.hotel-type,
.price-hotel {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.rating {
  margin: 0;
}

/*Button hotels*/

.button-blue-hotel {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: inherit;
  line-height: inherit;
}

.button-brown-hotel {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-size: inherit;
  line-height: inherit;
}

.button-blue-hotel:hover,
.button-blue-hotel:focus {
  background-color: var(--basic-darker-blue);
}

.button-blue-hotel:active {
  background-color: var(--basic-darkest-blue);
  color: var(--opacity-white-button);
}

.button-brown-hotel:hover,
.button-brown-hotel:focus {
  background-color: var(--basic-darker-brown);
}

.button-brown-hotel:active {
  background-color: var(--basic-darkest-brown);
  color: var(--opacity-white-button);
}

/*Rating stars*/

.rating {
  color: var(--basic-extra-dark-grey);
  background-color: var(--basic-light-grey);
}

/* Main footer */

.page-footer.main-footer {
  color: var(--basic-black);
  background-color: var(--opacity-white);
}

.contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: inherit;
}

.phone {
  color: inherit;
}

.contacts p,
.phone {
  margin: 0;
}

/*Social network*/
.socials  {
  text-align: center;
  width: 150px;
  margin: 0 auto;
}

.socials li {
  list-style: none;
  display: inline-block;
  vertical-align: center;
  margin: 5px;
}


.social-link {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;

}


.social-link:hover,
.social-link:focus {
  background-color: var(--basic-darker-blue);
}

.social-link:active {
  background-color: var(--basic-darkest-blue);
}

.tw {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.yt {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  font-size: 14px;
  line-height: 26px;
  margin: 0;

}

.academy-logo-button {
  color: var(--special-extra-dark);
}

/* Не работает
.academy-logo-button:hover,
.academy-logo-button:focus {
  color: var(--basic-blue);
}

.academy-logo-button:active {
  color: var(--basic-middle-grey);
}
*/

