/*Variables*/

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-grey: #cacaca;
  --basic-middle-grey: #bdbbbc;
  --basic-light-grey: #f2f2f2;
  --basic-extra-light-grey: #ebebeb;
  --basic-extra-grey: #0c0609;
  --basic-dark-grey: #a9a9a9;
  --basic-extra-dark-grey: #666666;
  --basic-blue: #81b3d2;
  --basic-darker-blue: #669ec0;
  --basic-darkest-blue: #5496bd;
  --basic-neutral: #eeeeee;
  --basic-brown: #766357;
  --basic-darker-brown: #604e43;
  --basic-darkest-brown: #503e33;
  --basic-grey-border: #e5e5e5;
  --special-extra-dark: #231f20;

  --opacity-white: rgba(255, 255, 255, 0.9);
  --opacity-white-button: rgba(255, 255, 255, 0.3);
  --opacity-black: rgba(0, 0, 0, 0.3);
}

/*Global*/
body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
   background-color: var(--basic-light-grey);
}

.page {
height: 100%;
}


/*.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
Растянем body по высоте страницы.

Зададим сетку для страницы: шапка занимает высоту по своему контенту,
как и подвал, а контентная часть занимает всё возможное пространство.
Так добиваемся того, чтобы подвал прилип к низу страницы.*/


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.page-wrapper {
  width: 1200px;
  background-color: var(--basic-white);
  margin: 0 auto;
  box-shadow: 5px 5px 8px var(--opacity-black), -5px 5px 8px var(--opacity-black);
}

/*End Global*/

/*Header*/

/* Main navigation */

.logo {
  position: absolute;
  left: 50%;
  height: 70px;
  width: 138px;
  transform: translateX(-50%);
  z-index: 1;
}

.main-navigation {
  position: relative;
  line-height: 26px;
  font-weight: bold;
  padding: 0 72px;
}

.site-navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 56px;
  }

.site-navigation-item {
  width: 25%;
  align-self: center;
}

.right-menu {
  text-align: right;
}

.site-navigation-link {
  color: var(--basic-black);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: var(--basic-blue);
}

.site-navigation-link:active {
  color: var(--opacity-black);
}

.current {
  color: var(--basic-brown);
}

/*End Nav | End Header*/

/*Promotion*/

.promotion {
  min-height: 509px;
}

/*promo background image*/

.main-wrap-background-img {
  background-image: url(../img/background_photo.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: inherit;
  text-align: center;
  padding-top: 77px;
  box-sizing: border-box;
}

.main-wrap-background-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  background-image: url("../img/shape.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  left: 0;
  bottom: 0;
}

/*End Promo*/

/* Features */

/*Banner*/
.features {
  text-align: center;
}

.feature-main-wrapper {
  padding: 52px;
  margin: 0;
}

p.feature-main {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.feature-main-text {
  line-height: 26px;
  margin: 52px 0 0 0;
}

/*End of banner*/

/*Feature list*/

.features-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 586px 256px 256px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.image-wrap {
  background-color: var(--basic-darkest-blue);
}

.image-wrap img {
  display: block;
}

/* N1 */

.features-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.features-item p,
.features-list-addition dd {
  margin: 0;
  padding: 0;
}

.feature-add-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 25px;
}

h3.features-item-title {
  margin-bottom: 25px;
}

p.features-item-number {
  margin-bottom: 23px;
}




.n1 {
  grid-area: 1/1/2/-1;
  display: grid;
  grid-template-rows: 256px 330px;
  grid-template-columns: 400px 400px 400px;
  }

.blue-bg {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.grey-bg {
  background-color: var(--basic-neutral);
  padding-top: 47px;
  padding-bottom: 54px;
}

/* N1 */

.n1 .features-item-info {
  grid-column: 1/2;
}

.pic1 {
  grid-column: 2/-1;
  grid-row: 1/2;
}

.town {
  margin: 47px 51px 54px 52px;
}

.features-list-addition {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.list-add {
  display: flex;
  justify-content: space-around;
  background-color: white;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  height: 100%;
}

.list-add-item {
    padding-top: 160px;
}

.house {
  background-image: url("../img/icon-1.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50px;

 /* width: 75px;
  height: 72px;
  display: inline-block;*/
  /*margin-top: 60px;*/
}

.food {
  background: url("../img/icon-2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50px;
/*  width: 75px;
  height: 70px;
  display: inline-block;*/
  /*margin-top: 61px;*/
}

.souvenirs {
  background: url("../img/icon-3.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50px;
  /*  width: 64px;
  height: 77px;
  display: inline-block;
  margin-top: 55px;*/
}

/* End N1 */

/* N2 */

.n2 {
  grid-area: 2/1/3/-1;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.n2 .features-item-info {
  grid-column: -1/-2;
}

.pic2 {
  position: absolute;
  grid-column: 1/3;
}

.bridge {
  margin: 50px 49px 51px 50px;
}

/* End n2*/
/* End Features*/


/*search Hotels*/
.search-hotels-wrap {
  text-align: center;
}

.search-hotels-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 61px;
  margin-bottom: 35px;
  text-align: center;
}

.search-hotels-info {
  line-height: 24px;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
 }

p.form-item {
  position: relative;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  }

.popup {
  height: 395px;
  width: 568px;
  box-sizing: border-box;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  background-color: var(--basic-white);
}

.form-popup {
  padding: 55px;
}

.form-popup p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrival,
.departure {
  height: 38px;
  width: 346px;
  font-weight: bold;
  line-height: 26px;
  text-transform: inherit;
  background-color: var(--basic-light-grey);
  box-sizing: border-box;
  padding-left: 13px;
  outline: none;
  border: 2px solid transparent;
}

p.arrival-date {
 position: relative;
  margin-bottom: 29px;
  width: 100%; /*Надо ли? В дате заезда и выезда Label и input не слиплись*/
}

p.departure-date {
  width: 100%;
  margin-bottom: 29px;
}

.adults,
.children {
  width: 50%;
  box-sizing: border-box;
}

.adults {
  padding-right: 5px;
}

.field-adults,
.field-children {
  width: 36px;
  height: 38px;
  padding: 0;
  text-align: center;
  font-weight: inherit;
  background-color: var(--basic-light-grey);
  outline: none;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.adults-cover,
.children-cover {
  margin-right: auto;
}
.children-cover {
  margin-left: 46px;
}

.plus,
.minus {
  display: flex;
  width: 36px;
  height: 38px;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  border: transparent;
  box-sizing: border-box;
}

.minus > svg {
  margin: auto;
}

.plus > svg {
  margin: auto;
}

.button-calendar {
  position: absolute;
  right: 10px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.container-amount-people {
  display: flex;
  flex-wrap: wrap;
}

.amount-person:hover path,
.amount-person:focus path,
.amount-person:hover rect,
.amount-person:focus rect {
  fill: var(--basic-black);
}

.amount-person:active path,
.amount-person:active rect {
  fill: var(--basic-blue);
}

.button-calendar:focus path,
.button-calendar:hover path{
  fill: var(--basic-black);
}

.button-calendar:active path {
  fill: var(--basic-blue);
}

.arrival:focus,
.departure:focus,
.field-adults:focus,
.field-children:focus,
.minus:focus,
.plus:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-grey-border);
}

.arrival:hover,
.departure:hover,
.field-children:hover,
.field-adults:hover,
.minus:hover,
.plus:hover {
  background-color: var(--basic-extra-light-grey);
}

.find { /*Кнопка Найти в popup окне*/
  margin-top: 54px;
  width: 100%;
}

/*Buttons*/

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-brown {
  background-color: var(--basic-brown);
  width: 568px;
  height: 86px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--basic-darker-brown);
}

.button-brown:active {
  background-color: var(--basic-darkest-brown);
  color: var(--opacity-white-button);
}

.button-blue {
  background-color: var(--basic-blue);
  height: 58px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
}

.button-blue:hover,
.button-blue:focus {
  background-color: var(--basic-darker-blue);
}

.button-blue:active {
  background-color: var(--basic-darkest-blue);
  color: var(--opacity-white-button);
}
.button-blue-hotel {
  width: 110px;
  height: 27px;
}

.button-brown-hotel {
  width: 142px;
  height: 27px;
}


/*Map*/

.map {
  min-height: 593px;
  margin-bottom: -120px;
}

/*End Map*/

/*footer*/

/* Main footer */

.page-footer {
  position: relative;
  min-height: 120px;
  color: var(--basic-black);
  background-color: var(--opacity-white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;

}

.contacts p,
.phone {
  margin: 0;
}

.contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-left: 111px;
  text-align: center;
}

.phone {
  color: inherit;
}

/*Social network*/
.socials {
  justify-self: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  margin: 0 auto;
  padding: 0;

}

.social-link {
  display: flex;
  position: relative;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.tw::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url("../img/twitter.svg");
  background-size: 17px 17px;
}

.fb::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  background-image: url("../img/fb-icon.svg");
  background-size: 12px 22px;
}

.youtube::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  background-image: url("../img/youtube.svg");
  background-size: 20px 16px;
}

.tw:hover,
.fb:hover,
.youtube:hover,
.tw:focus,
.fb:focus,
.youtube:focus {
  background-color: var(--basic-darker-blue);
}

.tw:active,
.fb:active,
.youtube:active {
  background-color: var(--basic-darkest-blue);
}

.tw:active::after,
.fb:active::after,
.youtube:active::after {
  opacity: 0.3;
}


.copyright {
  line-height: 26px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.academy-logo-button {
  margin-left: 10px;
  margin-top: 10px;
}

.academy-logo-button:hover path,
.academy-logo-button:focus path{
  fill: var(--basic-blue);
}

.academy-logo-button:active path {
  fill: var(--basic-middle-grey);
}

.academy-logo-button:active {
  color: var(--basic-middle-grey);
}



/*End footer*/

/*Вторая страница*/


/*Hotels filter search*/

.filter {
  min-height: 217px;
  padding: 0 72px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/background-filter.jpg");
}

.filter-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--basic-white);
}

.filter-form fieldset {
  border: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

label {
  position: relative;
  cursor: pointer;
}

.checkbox-item {
  margin: 0;
  }

.checkbox-item:not(:last-child) {
  margin-bottom: 25px;
}

.checkbox-item:first-child {
  margin-top: 24px;
}

input + label::before {
  position: absolute;
  width: 27px;
  height: 23px;
  top: 0;
  left: -44px;
  content: "";
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-infrastructure,
.filter-houses,
.filter-price {
  font-size: 16px;
}

.filter-attribute-title {
  font-weight: bold;
}

.filter-houses {
  flex-direction: column;
  justify-content: space-between;
}

.filter-price {
  margin-right: 72px;
  justify-content: space-around;
}
/*Search results*/

.sorting {
  display: flex;
  padding: 0 72px;
  align-items: center;
  min-height: 86px;
}

.search-amount {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0 46px 0 0;
 }

.sorting-text {
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
}

.sorting-list,
.sorting-rating {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-list {
  display: flex;
  font-size: 12px;
  line-height: 18px;
}

.price {
  margin-right: 32px;
}

.type {
  margin-right: 33px;
}

.sorting-item {
  color: var(--opacity-black);
}

.sorting-item:focus,
.sorting-item:hover {
  color: var(--basic-blue);
}

.sorting-item:active {
  color: var(--basic-black);
}

.current-sorting {
  color: var(--basic-blue)
}
.sorting-rating {
  display: flex;
  margin-left: auto;
}

.arrow.down {
  margin-left: 12px;
}

.arrow path {
  fill: var(--basic-grey);
}

.arrow:hover path,
.arrow:focus path {
  fill: var(--basic-black);
}

.arrow:active path {
  fill: var(--basic-blue);
}

.current-arrow path {
  fill: var(--basic-blue);
}

/*List hotels*/

.image-wrap-hotel {
  margin-right: 29px;
}

.image-wrap-hotel img {
  display: inline-flex;
}

.left-side {
  margin-right: 6px;
}


.hotels-list li {
  list-style: none;
}

.hotels-list-item {
  padding: 30px 72px;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid var(--basic-grey-border);
}

.hotels-list-item:first-child {
  border-top: 1px solid var(--basic-grey-border);
}

.hotel-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.hotels-list {
  padding: 0;
  margin: 0;
}

.hotel-info-title {
  width: 100%;
}

.hotel-title {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.hotel-title:hover,
.hotel-title:focus {
  color: var(--basic-blue);
}

.hotel-title:active {
  color: var(--opacity-black);
}

.hotel-type,
.price-hotel {
   margin: 0 0 15px 0;
  }


/*Button hotels*/

.button-blue-hotel {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: inherit;
  line-height: inherit;
}

.button-brown-hotel {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-size: inherit;
  line-height: inherit;
}

.button-blue-hotel:hover,
.button-blue-hotel:focus {
  background-color: var(--basic-darker-blue);
}

.button-blue-hotel:active {
  background-color: var(--basic-darkest-blue);
  color: var(--opacity-white-button);
}

.button-brown-hotel:hover,
.button-brown-hotel:focus {
  background-color: var(--basic-darker-brown);
}

.button-brown-hotel:active {
  background-color: var(--basic-darkest-brown);
  color: var(--opacity-white-button);
}

/*Rating stars*/

.rating {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.rating-text {
  padding: 3px 12px 3px 15px;
  margin: 0;
  color: var(--basic-extra-dark-grey);
  background-color: var(--basic-light-grey);
}

.stars {
  background-image: url("../img/star.svg");
  background-repeat: repeat space;
}

.stars4 {
  width: 76px;
  height: 17px;
}

.stars3 {
  width: 57px;
  height: 17px;
}

.stars2 {
  width: 39px;
  height: 17px;
}
